.comment-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 5px 0px;
}

.comment-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.comment-profile-name {
    margin: 5px;
    font-weight: 500;
}

.comment-comment {
    margin-left: 20px;
    font-weight: 100;
}

