

.vp-small-container {
    /* width: 30%;  */
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
}

.vp-small-container:hover {
    
}

.vp-small-img {
    border-radius: 10px;
    width: 300px;
    height: 450px;
    object-fit: cover;
}

.vp-small-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vp-small-profile-pic {
    border-radius: 50%;
    margin: 0px 2px;
    width: 30px;
    height: 30px;
}

.vp-small-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.vp-small-interactions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vp-small-like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}

.vp-small-comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5px;
}

.fa-icon-heart {
    color: pink;
    margin: 0px 2px;
}

.fa-icon-comment {
    color: wheat;
    margin: 0px 2px;
}